.game-page-container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0px 2rem;
}

.game-container {
  min-width: 375px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-container {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 375px;
  display: flex;
}

.messages-container {
  margin-top: auto;
  min-width: 375px;
  height: 60vh;
  overflow: auto;
  border: 1px solid grey;
}

.input-container {
  height: 50px;
}

.chat-message-input {
  min-width: 375px;
  height: 50px !important;
}